h1{
	color: white;
	font-size: 52px;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	background-color: black;
}

header{
	text-align: center;
	background-image: url('Writing.jpeg');
	background-position: bottom
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

body{
	background-color: white;
}

p.links{
	font-weight: bold;
	font-family: Arial
}

.bg-image{
	
}